<% person=@person %>

<div class="single-person-page" data-section="<%= @section  %>">

  <div class="info">
    <h3><%= person.name %></h3>
    <p><%= person.rich_content %></p>
    <% if admin_user_signed_in? %>
      <a href="<%= edit_admin_person_path(person) %>" class="admin-only classes">âœ Person bearbeiten</a>
    <% end %>    
    <ol class="events">
      <% person.events.each do |e| %>
        <li class="event" data-section="<%= e.stage_event? ? "buehne" : "schule" %>">
          <%= (link_to e.type.name + " " + e.title, event_path(e)).html_safe %>
        </li>
      <% end %>
    </ol>
  </div>

  <div class="overlay">

    <div class="stripes_vertical stripes_left">
      <span data-close></span>
      <span data-close></span>
      <span data-close></span>
    </div>

    <div class="stripes_vertical stripes_right">
      <span data-close></span>
      <span data-close></span>
      <span data-close></span>
    </div>

    <div class="stripes_vertical stripes_mid">
      <% if @landing_page %>
        <span><%= link_to (@landing_page_menu_item.name+"<br />"+@landing_page_menu_item.name).html_safe, page_path(@landing_page_menu_item.key) %></span>
        <span><%= link_to (@landing_page_menu_item.name+"<br />"+@landing_page_menu_item.name).html_safe, page_path(@landing_page_menu_item.key) %></span>
        <span><%= link_to (@landing_page_menu_item.name+"<br />"+@landing_page_menu_item.name).html_safe, page_path(@landing_page_menu_item.key) %></span>
      <% else %>
        <span data-text-section></span>
        <span data-text-section></span>
        <span data-text-section></span>
      <% end %>
    </div>        

    <div class="image">
      <%  if person.images.length > 0 %>
        <figure>
            <img src="<%= person.images.first.attachment.url(:medium)%>" alt="<%= person.name %>">
            <figcaption>
              <%= person.images.first.license if person.images.first.license %>
            </figcaption>
        </figure>
      <% end %>
    </div>
    
  </div>

</div>
