<% url = edit_admin_content_module_url(cm.id) if cm.id? %>

<li>
  <div>
    module_type: <b><%= cm.module_type %></b><br>
    style_option: <%= cm.style_option %><br>
    headline: <%= cm.headline %><br>
    <% if cm.images.length > 0 %>
      images:
      <% cm.images.each do |image| %>
        <%= image_tag image.attachment.url(:thumb) %>
      <% end %>
      <br>
    <% end %>

    <% if cm.downloads.length > 0 %>
      downloads: 
      <% cm.downloads.each do |dl| %>
        <%= link_to dl.description_de, dl.attachment.url %>
      <% end %>
      <br>
    <% end %>
  </div>
  <br>
  <% if url %>
    <%= link_to "Modul bearbeiten", url %>

  <% else %>
    <span>Die Seite muss erst gespeichert werden, bevor das Modul bearbeitet werden kann!</span>
  <% end %>
</li>