<%= content_module.super %>
<h1><%= content_module.headline %></h1>
<%= content_module.sub %>

<div><%= content_module.rich_content_1 if content_module.rich_content_1 %></div>

<% if content_module.rich_content_2 %>
  <div><%= content_module.rich_content_2 %></div>
<% end %>
  
<% if content_module.special_text %>
  <div><%= content_module.special_text %></div>
<% end %>


<div>
<% content_module.images.each do |image| %>
  <image src="<%= image.attachment.url(:medium) %>">
  <caption><%= image.license %></caption>
  <caption><%= image.description %></caption>
<% end %>
</div>


<div>
<% content_module.downloads.each do |download| %>
  <a href="<%= download.attachment.url %>"><%= download.description %></a>
<% end %>
</div>