
<% sections = content_module.images.group_by { |i| i.headline } %>

<aside class="module__festival_logos">
  <% sections.keys.each do |key| %>

  <section class="section">

    <h6 class="headline"><%= key %></h6>

      <% sections[key].each do |image| %>
        <% if image.link_href %>
          <a class="logo" href="<%= image.link_href%>" title="<%= image.description %>">
        <% end %>
          <img alt="<%= image.description %>" src="<%= image.attachment.url(:medium) %>" class="<%= 'portrait' if image.height > image.width %>">
        <% if image.link_href %>
          </a>
        <% end %>
      <% end %>

  </section>
  <% end %>
</aside>