<section class="module__page_intro_magazine" data-section="<%= content_module.section %>" data-style-option="<%= content_module.style_option %>" data-border-bottom="<%= content_module.border_bottom%>">
  
  <div class="text">

    <% if content_module.headline %>
      <h1>
        <%= content_module.headline_shy.html_safe %>
      </h1>
    <% end %>

    <% if content_module.sub %>
      <div class="sub">
        <%= content_module.sub  %>
      </div>    
    <% end %>

  </div>

  
  <% if content_module.images.length > 0 %>
    <img class="image" src="<%= content_module.images[0].attachment.url(:large) %>">
  <% end %>



</section>