<% parameterSet = false %>
<% if content_module.parameter %>
  <% unless content_module.parameter.empty? %>
    <% parameterSet = true %>
  <% end %>
<% end %>


<section class="module__page_intro" <%= "data-no-images" if (content_module.images.empty? and !parameterSet) %> data-section="<%= content_module.section %>" data-style-option="<%= content_module.style_option %>" data-border-bottom="<%= content_module.border_bottom%>"> 

  <% if content_module.images.count > 0 %>
    <div class="grid_image">
        <img 
          src="<%= content_module.images[0].attachment.url(:large) %>"
          alt="<%= content_module.images[0].description %>"
        >
    </div>  
  <% end %>

  <% if parameterSet %>
    <div class="grid_image">
      <%= render :partial => "content_modules/video_embed", :locals => { :content_module => content_module } %>
    </div>
  <% end %>

  <div class="grid_headline">

  <% if content_module.headline %>
    <h1>
      <%= content_module.headline_shy.html_safe %>
    </h1>
  <% end %>

  </div>

  <% if content_module.rich_content_2 %>
      <div class="rich_content_2">
        <%= content_module.rich_content_2  %>
      </div>    
  <% end %>
  
  <div class="grid_text">

    <% if content_module.special_text %>
      <div class="special_text">
        <%= content_module.special_text  %>
      </div>    
    <% end %>

    <% if content_module.rich_content_1 %>
      <div class="rich_content_1">
        <%= content_module.rich_content_1 %>
      </div>
    <% end %>

    <% content_module.downloads.each do |download| %>
      <a class="button pdf downloads" title="<%= download.description %>" href="<%= download.attachment.url %>"><%= download.description %></a>
    <% end %>

    <%= render :partial => "content_modules/_button", :locals => { :obj => content_module } %> 

  </div>

</section>