<section class="module__reference" data-section="<%= content_module.section %>" data-border-bottom="<%= content_module.border_bottom%>">
  
  <div class="column_left">

    <% if content_module.images.count > 0 %>
      <img 
        src="<%= content_module.images[0].attachment.url(:large) %>"
        alt="<%= content_module.images[0].description %>"
      >
    <% end %>

  </div>

  <div class="stripes_vertical stripes_section" aria-hidden="true">
    <span data-text-section></span>
    <span data-text-section></span>
    <span data-text-section></span>
  </div>

  <div class="column_right">
    
    <!--= # render :partial => 'stripes', :locals => { 
      style: "schule",  
      direction: "vertical",
      content: "schule"
    } -->

    <div class="text_content">

      <div class="text_content_inner">      

        <% if content_module.special_text %>
          <div class="special_text">
            <%= content_module.special_text  %>
          </div>    
        <% end %>

        <% if content_module.headline %>
          <h3>
            <%= content_module.headline_shy.html_safe %>
          </h3>
        <% end %>

        <% if content_module.sub %>
          <div class="sub">
            <%= content_module.sub  %>
          </div>
        <% end %>

        <% if content_module.rich_content_1 %>
          <div class="rich_content_1">
            <%= content_module.rich_content_1 %>
          </div>
        <% end %>

        <%= render :partial => "content_modules/_button", :locals => { :obj => content_module, :small => true } %> 

      </div>

    </div>

  </div>

  <div class="stripes_vertical stripes_logo" aria-hidden="true">
    <span data-logo></span>
    <span data-logo></span>
    <span data-logo></span>
  </div>

</section>

