<section class="module__slideshow" data-section="<%= content_module.section %>" data-border-bottom="<%= content_module.border_bottom%>">

  <% if content_module.headline %>
    <div class="headline_container">
      <h2 class="headline">
        <span><%= content_module.headline %></span>
        <%= render :partial => "content_modules/_button", :locals => { :obj => content_module } %>
      </h2>      
    </div>
  <% end %>

  <div class="controls">
    <%= inline_svg_pack_tag("media/svgs/TAFA20-Webseite_Pfeil-rechts_dropshadow_black.svg", class: "icon section-stroke-color next") %>
    <%= inline_svg_pack_tag("media/svgs/TAFA20-Webseite_Pfeil-links_dropshadow_black.svg", class: "icon section-stroke-color previous") %>
  </div>

  <div class="slideshow">

    <ol class="slides">

      <% content_module.images.each do |image| %>

        <li class="slide">

          <% if image.attachment%>
            <figure class="image">
              <img alt="<%= image.description %>" src="<%= image.attachment.url(:medium) %>">
              <figcaption class="caption">
                <span class="licence"><%= image.license %></span>
              </figcaption>
            </figure>
          <% end %>

          <% if image.super%>
            <div class="super">
              <%= image.super %>
            </div>
          <% end %>

          <% if image.headline%>
            <h6 class="headline">
              <%= image.headline %>
            </h6>
          <% end %>

          <% if image.rich_content_1 %>
            <div class="rich_content_1">
              <%= image.rich_content_1 %>
            </div>
          <% end %>        

          <%= render :partial => "content_modules/_button", :locals => { :obj => image } %>  

        </li>

      <% end %>
    
    </ol>
        
  </div>

</section>
