<div class="module__slideshow" data-section="<%= content_module.section %>">

  <% if content_module.headline %>
    <div class="headline_container">
      <h2 class="headline">
        <%= content_module.headline %>
        <% if content_module.link_href and content_module.link_title %>
          <a class="button" href="<%= content_module.link_href %>" title="<%= content_module.link_title %>">
            <%= content_module.link_title %>
          </a>
        <% end %>   
      </h2>      
    </div>
  <% end %>

  <div class="slideshow">

    <ol class="slides">

    <% content_module.images.each do |image| %>

      <li class="slide">

        <% if image.attachment%>
          <figure class="image">
            <img src="<%= image.attachment.url(:medium) %>">
            <figcaption class="caption">
              <span class="description"><%= image.description %></span>
              <span class="licence"><%= image.license %></span>
            </figcaption>
          </figure>
        <% end %>

        <% if image.super%>
          <div class="super">
            <%= image.super %>
          </div>
        <% end %>

        <% if image.headline%>
          <h6 class="headline">
            <%= image.headline %>
          </h6>
        <% end %>

        <% if image.rich_content_1 %>
          <div class="rich_content_1">
            <%= image.rich_content_1 %>
          </div>
        <% end %>        

        <% if image.link_href and image.link_title %>
          <a class="button" href="<%= image.link_href %>" title="<%= image.link_title %>">
            <%= image.link_title %>
          </a>
        <% end %>           

      </li>

    <% end %>

  <div><%= content_module.rich_content_1 if content_module.rich_content_1 %></div>

  <% if content_module.rich_content_2 %>
    <div><%= content_module.rich_content_2 %></div>
  <% end %>
    
  <% if content_module.special_text %>
    <div><%= content_module.special_text %></div>
  <% end %>

  </div>