<% events_today = Event.where(type: 3).or(Event.where(type: 4)).select {|e| e.occurs_on? Date.today } %>

<h2><%= content_module.headline %></h2>

<h3><%= l(Date.today, :format => :short_day) %></h3>

<% occurrences_today = [] %>
<% events_today.each do |event| %>
  <% occurrences_today.concat(event.occurrences_on(Date.today)) %>
<% end %>
<% occurrences_today.sort! { |a, b| a[0] <=> b[0] } %>

<ul>

<% occurrences_today.each do |oc| %>
  <% occurrence = oc[0] %>
  <% event_detail = oc[1] %>
  <% event = event_detail.event %>

  <li>

    <div>
      <%= l(occurrence, :format => :hours_minutes) %>
      –
      <%= l(occurrence + event_detail.duration * 60, :format => :hours_minutes) %>
    </div>

    <div>
      <%= event.people[0].name if event.people.length > 0 %>
    </div>

    <div>
      <%= event.type.name %>
      <%= event_detail.studio.location.name %>
    </div>

    <div>
      <%= event.title %>
    </div>

  </li>

<% end %>

</ul>