<% events_today = Event.no_draft.where(type: [4]).select {|e| e.occurs_on? Date.today } %>

<% kurse_today = EventDetail.joins(:event).where('events.type_id = 3').filter {|ed| ed.start_date.wday == Date.today.wday} %>

<div class="module__today" data-border-bottom="<%= content_module.border_bottom%>">

  <h2><%= content_module.headline %></h2>

  <h3><%= l(Date.today, :format => :short_day) %></h3>

  <% occurrences_today = [] %>
  <% events_today.each do |event| %>
    <% occurrences_today.concat(event.occurrences_on(Date.today)) %>
  <% end %>

  <% kurse_today.each do |ed| %>
    <% occurrences_today.concat([[ed.time, ed]]) %>
  <% end %>

  <% occurrences_today.sort! { |a, b| a[0].to_s(:time) <=> b[0].to_s(:time) } %>

  <ul class="event_list">

  <% occurrences_today.each do |oc| %>
    <% occurrence = oc[0] %>
    <% event_detail = oc[1] %>
    <% event = event_detail.event %>

    <li class="event">

      <div class="time">
        <%= l(occurrence, :format => :hours_minutes) %>
        –
        <%= l(occurrence + event_detail.duration * 60, :format => :hours_minutes) %>
      </div>

      <div class="teacher">
        <%= link_to(event.people[0].name, event_path(event)) if event.people.length > 0 %>
      </div>

      <div class="place">
        <%= event.type.name %>
        <%= event_detail.studio.location.name %>
      </div>

      <div class="title">
        <%= event.title %>
      </div>

    </li>

  <% end %>

  </ul>

  
</div>