<% set_meta_tags :canonical => event_url(@event) %>

<div class="single-event-page" data-section="<%= @section %>">

  <% detail = @detail %>

  <div class="overlay">
    <div class="stripes_vertical stripes_left">
      <span data-close></span>
      <span data-close></span>
      <span data-close></span>
    </div>

    <div class="stripes_vertical stripes_mid">
      <span class="<%= "relevant" if @event.type.id == 3 %>">
        <% if @event.type.id == 3 # kurs %>
          <span><%= l(detail.start_date, :format => :weekday) %></span>
          <br />
          <span><%= l(detail.starttime, :format => :hours_minutes) %> - <%= l(detail.endtime_clock, :format => :hours_minutes) %></span>
        <% else %>
          <% if @landing_page %>
            <%= link_to (@landing_page_menu_item.name+"<br />"+@landing_page_menu_item.name).html_safe, page_path(@landing_page_menu_item.key) %>
          <% else %>
            <span data-text-section></span>
          <% end %>
        <% end %>
      </span>
      <span class="relevant">
        <span><%= detail.studio.location.name + " " + detail.studio.name %></span><br />
        <span><%= detail.studio.location.address.gsub(/,( +[0-9]{5})/, '<br>\1').html_safe %></span>
      </span>
      <span class="<%= "relevant" if @event.type.id == 3 %>">
        <% if @event.type.id == 3 # kurs %>
          <% if !@tag_string_2.empty? || !@tag_string_2.empty? %>
            <span><%= @tag_string_1 %></span><br>
            <span><%= @tag_string_2 %></span>
          <% end %>
          <% if @event.price_regular %>
            <span><%= @event.price_regular %>€ (<%= @event.price_reduced %>€)</span>
          <% end %>
        <% else %>
          <% if @landing_page %>
            <%= link_to (@landing_page_menu_item.name+"<br />"+@landing_page_menu_item.name).html_safe, page_path(@landing_page_menu_item.key) %>
          <% else %>
            <span data-text-section></span>
          <% end %>
        <% end %>
      </span>
    </div>

    <div class="image">
      <% if @event.type.id == 4 || @event.type.id == 3 # profitraining or kurs %>
        <%
          imageSrc = @event.people.first.images.first.attachment.url(:large)
          caption = @event.people.first.images.first.license
        %>
      <% else %>
        <%  imageSrc = @event.no_logo_images.first.attachment.url(:large) if @event.no_logo_images.first
          caption = @event.no_logo_images.first.license if @event.no_logo_images.first %>
      <% end %>
      <% if imageSrc %>
      <figure>
        <img src="<%= imageSrc %>"/>
        <figcaption><%= caption %></figcaption>
      </figure>
      <% end %>
    </div>    

    <div class="stripes_vertical stripes_right">
      <span data-close></span>
      <span data-close></span>
      <span data-close></span>
    </div>
  
  </div>
  
  
  <div class="info">

    <h3 class="headline"><%= @event.title %></h3>

    <p class="type_sentence"><b class="type"><%= @event.display_type %></b>
    <% if @event.people.first %>
      <%= t "with" %>
      <%= @event.people.map { |p| p.name }.join(", ") %>
    <% end %>
    </p>
    
    <div><%= @event.rich_content %></div>

    <% @event.people.each do |person| %>
      <h4><%= person.name %></h4>
      <div class="bio"><%= person.rich_content %></div>
    <% end %>

    <!-- tell tf team we can now use warning and signup_url separately  -->

    <div class="extra">  

      <%if @event.info_rich && !@event.info_rich.to_s.strip.empty? %>
        <div class="event_info">
          <%= @event.info_rich %>
        </div>
      <% end %>

      <% unless @event.type.id == 3 # kurs %>
        <%= render :partial => "/events/details/moments", :locals => {:event => @event} %>
      <% end %>

      <% if @event.warning && !@event.warning.empty? %>
        <p class="warning"><%=@event.warning%></p>
      <% end %>

      <% if @event.signup_url and !@event.signup_url.empty? %>
        <% title = @section == "schule" ? get_text_item("tanzklassen_anmeldung") : get_text_item("tickets") %>
        <a class="button" title="<%= title %>" href="<%= @event.signup_url %>">
          <%= title %>
        </a>
      <% end %>

  
    </div>    

    <div><%= @event.credits_rich %></div>

    <% if @event.logos.length %>
      <div class="logos">
      <% @event.logos.each do |logo| %>
        <a href="<%= logo.link_href %>">
          <img src="<%= logo.attachment.url(:logo)%>"/>
        </a>
      <% end %>
      </div>
    <% end %>
  
    <% if admin_user_signed_in? %>
      <a href="<%= edit_admin_event_path(@event)%>">Dieses Ereignis bearbeiten</a>
    <% end %> 


  </div>

</div>