<div class="single-event-page" data-section="<%= @event.stage_event? ? "buehne" : "schule" %>">

  <% detail = @event.event_details.first %>

  <div class="overlay">
    <div class="stripes_vertical stripes_left">
      <span data-close></span>
      <span data-close></span>
      <span data-close></span>
    </div>

    <div class="stripes_vertical stripes_mid">
      <span>
        <% if @event.type.id == 3 # kurs %>
          <span><%= l(detail.start_date, :format => :weekday) %></span>
          <br />
          <span><%= l(detail.starttime, :format => :hours_minutes) %> - <%= l(detail.endtime_clock, :format => :hours_minutes) %></span>
        <% else %>
          <span data-text-section></span>        
        <% end %>
      </span>
      <span>
        <span><%= detail.studio.location.name + " " + detail.studio.name %></span><br />
        <span><%= detail.studio.location.address %></span>
      </span>
      <span>
        <% if @event.type.id == 3 # kurs %>
          <span><%= get_text_item("tanklassen_level") %>:</span>
          <span><%= detail.tags.map { |t| t.short }.join('/') if detail.tags.length > 0 %></span><br>
          <% if @event.price_regular %>
            <span><%= @event.price_regular %>€ (<%= @event.price_reduced %>€)</span>
          <% end %>
        <% else %>
          <span data-text-section></span>
        <% end %>
      </span>
    </div>

    <!-- tell tf team we can now use warning and signup_url separately  -->

    <div class="signup">  
      <% if @event.signup_url %>
        <a class="button" title="<%= get_text_item("tanzklassen_anmeldung") %>" href="<%= @event.signup_url %>">
          <%= get_text_item("tanzklassen_anmeldung") %>
        </a>
      <% end %>

      <% if @event.warning %>
      <p><%=@event.warning%></p>
      <% end %>

      <%= @event.info_rich %>
    </div>    

    <div class="stripes_vertical stripes_right">
      <span data-close></span>
      <span data-close></span>
      <span data-close></span>
    </div>
  
  </div>
  
  
  <div class="info">

    <div class="image">
      <% if @event.type.id == 4 || @event.type.id == 3 # profitraining or kurs %>
        <%
          imageSrc = @event.people.first.images.first.attachment.url(:medium)
          caption = @event.people.first.images.first.license
        %>
       <% else %>
        <%  imageSrc = @event.no_logo_images.first.attachment.url(:medium_detail_column) if @event.no_logo_images.first
          caption = @event.no_logo_images.first.license if @event.no_logo_images.first %>
      <% end %>
      <% if imageSrc %>
      <figure>
        <img src="<%= imageSrc %>"/>
        <figcaption><%= caption %></figcaption>
      </figure>
      <% end %>
    </div>

    <h3><%= @event.title %></h3>

    <p><b><%= @event.display_type %></b>
     <% if @event.people.first %>
     mit <%= @event.people.map { |p| p.name }.join(", ") %>
     <% end %>
    </p>
    
    <div><%= @event.rich_content %></div>

    <% unless @event.type.id == 3 # kurs %>
      <%= render :partial => "/events/details/moments", :locals => {:event => @event} %>
    <% end %>

    <% @event.people.each do |person| %>
      <a href="<%= person_path(person) %>"><h4><%= person.name %></h4></a>
      <div><%= person.rich_content %></div>
    <% end %>

    <div><%= @event.credits_rich %></div>

    <% if @event.logos.length %>
      <div>
      <% @event.logos.each do |logo| %>
        <a href="<%= logo.link_href %>">
          <img src="<%= logo.attachment.url(:thumb)%>"/>
        </a>
      <% end %>
      </div>
    <% end %>
  
    <% if admin_user_signed_in? %>
      <a href="<%= edit_admin_event_path(@event)%>">Dieses Ereignis bearbeiten</a>
    <% end %> 


  </div>

</div>