
<% item_left = TextItem.find_by(name: "footer_" + @page.section + "_content_left") %>
<% item_right = TextItem.find_by(name: "footer_" + @page.section + "_content_right") %>

<% images_left =          item_left ? item_left.images : [] %>
<% images_right =         item_right ? item_right.images : [] %>
<% footer_content_left =  get_text_item_rich("footer_" + @page.section + "_content_left") %>
<% footer_content_right = get_text_item_rich("footer_" + @page.section + "_content_right") %>
<% instagram =            get_text_item("footer_" + @page.section + "_instagram_link") %>
<% vimeo =                get_text_item("footer_" + @page.section + "_vimeo_link") %>
<% facebook =             get_text_item("footer_" + @page.section + "_facebook_link") %>

<% tanzfabrik =           get_text_item("page_title").sub(" ", "<br />").html_safe %>

<footer class="imprint_footer" data-section="<%= @page.section %>">

  <div class="stripes_vertical stripes_left">
    <span data-text><%= tanzfabrik %></span>
    <span data-text><%= tanzfabrik %></span>
  </div>

  <div class="stripes_vertical stripes_mid">
    <span data-text-section></span>
    <span data-text-section></span>
  </div>

  <div class="stripes_vertical stripes_logos">
    <span data-logo></span>
    <span data-logo></span>
    <span data-logo></span>
  </div>  

  <div class="stripes_vertical stripes_right">
    <% if vimeo %>
      <span data-text>
        <a href="<%= vimeo %>">
          <%= inline_svg_pack_tag("media/svgs/TAFA20-Webseite_VIMEO_red.svg", class: "icon section-fill-color section-stroke-color") %>
        </a>
      </span> 
    <% end %>    

    <% if instagram %>
      <span data-text>
        <a href="<%= instagram %>">
          <%= inline_svg_pack_tag("media/svgs/TAFA20-Webseite_IG_red.svg", class: "icon section-fill-color") %>
        </a>
      </span>
    <% end %>
    
    <% if facebook %>
      <span data-text>
        <a href="<%= facebook %>">
          <%= inline_svg_pack_tag("media/svgs/TAFA20-Webseite_FB_red.svg", class: "icon section-fill-color section-stroke-color") %>
        </a>
      </span>
    <% end %>      
  </div>

  <div class="content_left">
    <%= footer_content_left %>
    <% if images_left.count > 0 %>
      <% images_left.each do |image| %>
        <a href="<%= image.link_href %>">
          <img alt="<%= image.description %>" src="<%= image.attachment.url(:medium) %>">
        </a>
      <% end %>
    <% end %>
  </div>

  <div class="content_right">
    <%= footer_content_right %>
    <% if images_right.count > 0 %>
      <% images_right.each do |image| %>
        <a href="<%= image.link_href %>">
          <img alt="<%= image.description %>" src="<%= image.attachment.url(:medium) %>">
        </a>
      <% end %>
    <% end %>
  </div>

</footer>