<%= render "/pages/editable_content" %>

<% Location.all.each do |location| %>
<div>
  <h2><%= location.name %></h2>
  <p><%= location.address %></p>
  
  <% location.event_times.each do |event_time| %>
  <div>
    <h3><%= event_time.event.title %></h3>
    <p><%= event_time.datetime %></p>
    <%= image_tag event_time.event.image.url if event_time.event.image.exists? %>      
  </div>
  <% end %>

</div>
<% end %>