<%= render "/pages/editable_content" %>

<% Studio.order('location_id').load.each do |studio| %>
<div>
  <h2><%= studio.location.name + " " + studio.name %></h2>
  <%= image_tag studio.image.url if studio.image.exists? %>
  <p><%= studio.description %></p>
  <p><%= studio.location.address %></p>
</div>
<% end %>