<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  
  <% if @subscription.status == true %>
      <h1>Update der Newsletter-Abos</h1>
      <p><%= t(:newsletter_label_1) %>: <%= (@subscription.newsletter_1 ? "ja" : "nein") %></p>
      <p><%= t(:newsletter_label_2) %>: <%= (@subscription.newsletter_2 ? "ja" : "nein") %></p>
      <p><%= t(:newsletter_label_3) %>: <%= (@subscription.newsletter_3 ? "ja" : "nein") %></p>
  <% else %>
      <h1>Newsletter-Abmeldung von allen Newslettern</h1>
  <% end %>
  <p>Email: <%= @subscription.email %></p>

</body>
</html>