<ul class="nav">
    <li><%= link_to 'Start', page_path(Page.friendly.find('start')) %></li>
    <li>1. “Tanz” = Bereich Schule
        <ul>
            <li>1.1. Tanzklassen
                <ul>
                    <li><%= link_to '1.1.1. Kursplan', root_path + 'kursplan' %></li>
                    <li>1.1.2. Performanceprojekte</li>
                    <li>1.1.3. Profitraining</li>
                    <li>1.1.4. Kindertanz</li>
                    <li><%= link_to '1.1.5. Contact Jam', page_path(Page.friendly.find('contact_jam')) %></li>
                    <li>1.1.6. Lehrer</li>
                    <li><%= link_to '1.1.7. Preise', page_path(Page.friendly.find('preise')) %></li>
                    <li><%= link_to '1.1.8. Öffnungszeiten', page_path(Page.friendly.find('oeffnungszeiten')) %></li>
                </ul>
            </li>
            <li>1.2. Dance Intensive
                <ul>
                    <li><%= link_to '1.2.1. Über Dance Intensive', page_path(Page.friendly.find('ueber_dance_intensive')) %></li>
                    <li>1.2.2. Programm</li>
                    <li>1.2.3. Lehrer</li>
                    <li><%= link_to '1.2.4. Bewerbung', page_path(Page.friendly.find('bewerbung')) %></li>
                </ul>
            </li>
            <li>1.3. Workshops
                <ul>
                    <li>1.3.1. Programm</li>
                    <li>1.3.2. Stundenplan</li>
                    <li>1.3.3. Onlineanmeldung</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>2. “Fabrik” = Bereich Produktion
        <ul>
            <li>2.1. Programm</li>
            <li>2.2. Projekte & Festivals</li>
            <li>2.3. Künstler</li>
            <li>2.4. Residenzen</li>
            <li><%= link_to '2.5. APAP netzwerk', page_path(Page.friendly.find('apap_netzwerk')) %></li>
        </ul>
    </li>
    <li><%= link_to 'Profil & Partner', page_path(Page.friendly.find('profil_partner')) %></li>
    <li><%= link_to 'Tickets', page_path(Page.friendly.find('tickets')) %></li>
    <li>Vermietung
        <ul>
            <li><%= link_to 'Studios', page_path(Page.friendly.find('studios')) %></li>
            <li><%= link_to 'Vermietungsinfo', page_path(Page.friendly.find('vermietungsinfo')) %></li>
        </ul>
    </li>
    <li>Service
        <ul>
            <li><%= link_to 'Kontakt', page_path(Page.friendly.find('kontakt')) %></li>
            <li><%= link_to 'AGBs', page_path(Page.friendly.find('agbs')) %></li>
            <li><%= link_to 'Impressum', page_path(Page.friendly.find('impressum')) %></li>
            <li><%= link_to 'Lageplan', page_path(Page.friendly.find('lageplan')) %></li>
        </ul>
    </li>
</ul>