<!DOCTYPE html>
<html lang="de"><!-- TODO: lang -->
<head>  
  <title>Tanzfabrik</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>  
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= google_webfonts_link_tag :roboto %>
  <%= csrf_meta_tags %>
	<!--[if lt IE 9]>
	  <%= javascript_include_tag 'html5shiv-printshiv' %>
	<![endif]-->  
</head>
<body>

<div class="container">
	<%= render "/navigation/default" %>

	<section class="test">
		<div class="c1">1</div>
		<div class="c1">1</div>
		<div class="c1">1</div>
		<div class="c1">1</div>
		<div class="c1">1</div>
		<div class="c1">1</div>
	</section>
	<section class="test">
		<div class="c1">1</div>
		<div class="c5">5</div>
	</section>
	<section class="test">
		<div class="c2">2</div>
		<div class="c10">10</div>
	</section>		

	<section id="main">
		<%= yield %>
	</section>
</div>

</body>
</html>
