<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  
  <meta charset="utf-8"> 

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>  
  
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_pack_tag "application", 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
</head>
<body>

	<%= yield %>

  <%= image_pack_tag 'tanzfabrik-logo.gif' %>

</body>
</html>
