<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  
  <meta charset="utf-8"> 
  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_pack_tag "application" %>
  
</head>
<body>

  <%= render "/navigation/tree" %>

	<%= yield %>

  <%= image_pack_tag 'tanzfabrik-logo.gif' %>

</body>
</html>
