<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  
  <meta charset="utf-8"> 

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>  
  
  <!--%= favicon_link_tag 'favicon.ico' %-->
  <%= stylesheet_pack_tag "application", 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
</head>
<body>

  <% page_title = get_text_item("page_title") %>
  <%= !@page || @page && @page.slug != "start" ? (link_to page_title, root_url) : page_title %>
  

  <%= render "/navigation/language_switcher" %>
  
	<%= yield %>

  <%= image_pack_tag 'tanzfabrik-logo.gif' %>

</body>
</html>
