<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  
  <meta charset="utf-8"> 

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>  
  
  <!--%= favicon_link_tag 'favicon.ico' %-->
  <%= stylesheet_pack_tag "application", 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
</head>
<%
  section = "schule"
  #section = @landing_page_menu_item if @landing_page_menu_item
  section = @page.section if @page and @page.section
%>
<body data-menu-item-key="<%= @page ? section : "start" %>" data-section="<%= section %>">

  <% page_title = get_text_item("page_title").sub(" ", "<br />").html_safe %>
  
  <header class="horizontal_bar_container">
    <div class="horizontal_bar_left">
      <%= !@page || @page && @page.slug != "start" ? (link_to page_title, root_url) : page_title %>
    </div>
    <div class="horizontal_bar_center">
      <% if @landing_page_menu_item %>
        <%= link_to (@landing_page_menu_item.name+"<br />"+@landing_page_menu_item.name).html_safe, page_path(@landing_page_menu_item.key) %>
      <% else %> 
        <%= render "/navigation/language_switcher" %>
      <% end %>
    </div>
    <div class="horizontal_bar_right">
      <span data-logo></span>
    </div>
  </header>
  
	<%= yield %>

</body>
</html>
