<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  
  <meta charset="utf-8"> 

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= display_meta_tags :site => 'Tanzfabrik', :reverse => true %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>  
  
  <!--%= favicon_link_tag 'favicon.ico' %-->
  <%= stylesheet_pack_tag "application", 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
</head>
<%
  section = "schule"
  #section = @landing_page_menu_item if @landing_page_menu_item
  section = @page.section if @page and @page.section
  menu_key = @is_start_page ? "start" : section
%>
<body <%= " data-no-turbolink" if admin_user_signed_in? %> data-menu-item-key="<%= menu_key %>" data-section="<%= section %>">
  <% page_title = get_text_item("page_title").sub(" ", "<br />").html_safe %>
  <header class="horizontal_bar_container">
    <div class="horizontal_bar_left">
      <%= !@page || @page && @page.slug != "start" ? (link_to page_title, root_url) : page_title %>
    </div>
    <div class="horizontal_bar_center">
      <% if @landing_page_menu_item %>
        <%= link_to (@landing_page_menu_item.name+"<br />"+@landing_page_menu_item.name).html_safe, page_path(@landing_page_menu_item.key) %>
      <% else %> 
        <%= render "/navigation/language_switcher" %>
      <% end %>
      <button class="navTrigger close"><%= inline_svg_pack_tag("media/svgs/TAFA20-Webseite_x_red.svg"        , class: "icon close" ) %></button>
      <button class="navTrigger open"><%= inline_svg_pack_tag("media/svgs/TAFA20-Webseite_Menu-icon_red.svg", class: "icon open  section-stroke-color" ) %></button>
    </div>
    <div class="horizontal_bar_right">
      <span data-logo aria-hidden="true"></span>
    </div>
  </header>
  
	<%= yield %>

  <div id="event-modal"></div>

  <%= jsonld_tag %>

</body>
</html>
